This assignment covers data preprocessing with datasets contaning overlapping but different features. The goal is to augment, merge, and enhance the data while ensuring consistency in a machine learning pipeline.

TASK 1: Data Augmentation on CSV Files

In [ ]:
# Loading the dataset
import pandas as pd

file_path = '../initial_dataset/customer_transactions.csv'

data = pd.read_csv(file_path)

In [3]:
data

     customer_id_legacy  transaction_id  ...  product_category customer_rating
0                   151            1001  ...            Sports             2.3
1                   192            1002  ...       Electronics             4.2
2                   114            1003  ...       Electronics             2.1
3                   171            1004  ...          Clothing             2.8
4                   160            1005  ...          Clothing             1.3
..                  ...             ...  ...               ...             ...
145                 102            1146  ...            Sports             2.7
146                 100            1147  ...             Books             4.6
147                 104            1148  ...          Clothing             1.4
148                 189            1149  ...            Sports             3.0
149                 113            1150  ...          Clothing             1.0

[150 rows x 6 columns]

In [4]:
print(data.isnull().sum())

customer_id_legacy     0
transaction_id         0
purchase_amount        0
purchase_date          0
product_category       0
customer_rating       10
dtype: int64

In [3]:
from sklearn.impute import SimpleImputer


# Handle missing values
# Numerical columns: Impute with mean (purchase_amount, customer_rating)
num_cols = ['purchase_amount', 'customer_rating']

# Impute numerical columns with mean
num_imputer = SimpleImputer(strategy='mean')
data[num_cols] = num_imputer.fit_transform(data[num_cols])

# Categorical columns: Impute with mode (product_category)
cat_cols = ['product_category']
cat_imputer = SimpleImputer(strategy='most_frequent')
data[cat_cols] = cat_imputer.fit_transform(data[cat_cols])

In [5]:
# Data Augmentation Strategies

import numpy as np

# Apply random noise to purchase_amount (±5%)
data['purchase_amount'] = data['purchase_amount'] * (1 + np.random.normal(0, 0.05, data.shape[0]))  # ±5% noise

# Apply log transformation to purchase_amount (log(1 + x))
data['purchase_amount'] = np.log1p(data['purchase_amount'])

# Expand data by generating synthetic transactions (slightly modify the existing ones)
synthetic_data = data.copy()

# Add slight variations to the purchase_amount and customer_rating for synthetic data
synthetic_data['purchase_amount'] *= np.random.uniform(0.9, 1.1, synthetic_data.shape[0])  # ±10% variation
synthetic_data['transaction_id'] = synthetic_data['transaction_id'].astype(str) + "_synth"  # Mark synthetic data

# Append the synthetic data to the original dataset
data = pd.concat([data, synthetic_data], ignore_index=True)

In [6]:
# Save the augmented dataset

print("\nExporting augmented dataset...")
data.to_csv('../augmented_dataset/customer_transactions_augmented.csv', index=False)
print("Augmented dataset saved as 'customer_transactions_augmented.csv'.")

augmented_data = pd.read_csv('../augmented_dataset/customer_transactions_augmented.csv')
print(augmented_data)

Exporting augmented dataset...
Augmented dataset saved as 'customer_transactions_augmented.csv'.
     customer_id_legacy transaction_id  purchase_amount purchase_date  \
0                   151           1001         6.005589    2024-01-01
1                   192           1002         5.767591    2024-01-02
2                   114           1003         5.985804    2024-01-03
3                   171           1004         5.578930    2024-01-04
4                   160           1005         4.177239    2024-01-05
..                  ...            ...              ...           ...
295                 102     1146_synth         4.489214    2024-05-25
296                 100     1147_synth         6.533912    2024-05-26
297                 104     1148_synth         6.185791    2024-05-27
298                 189     1149_synth         5.488780    2024-05-28
299                 113     1150_synth         5.125929    2024-05-29

    product_category  customer_rating
0             Sports              2.3
1        Electronics              4.2
2        Electronics              2.1
3           Clothing              2.8
4           Clothing              1.3
..               ...              ...
295           Sports              2.7
296            Books              4.6
297         Clothing              1.4
298           Sports              3.0
299         Clothing              1.0

[300 rows x 6 columns]